body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
}

.profile-pic {
  width: 50%;
  height: 50%;
}

.login {
  font-weight: bold;
  margin-top: 10px;
}

.description {
  color: gray;
  margin-top: 5px;
  font-size: 14px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  margin: 5px;
}

.contact-button button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #000c14;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button button:hover {
  background-color: #2980b9;
}

/* ซ่อนเส้น table */
.profile-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.profile-table td {
  border: none;
}
